/* --- CADASTRO --- */
.caixa__Cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    border-radius: 10px;
    height: 720px;
    width: 600px;
}

#erroMensagem__Cadastro{    
    margin: 0 0 30px;
    height: 20.5px;
}

.titulo__Cadastro{
    margin-top: 2em;
}

.subtitulo__Cadastro{
    margin-bottom: 40px;
}

.input__Cadastro{
    padding: 15px 20px;
    font-size: 20px;
    border: 1px solid #afaeae;
    border-radius: 5px;
    margin: 0 2.5px;
    width: 170px;
}

#nomeUsuario__Cadastro{
    margin: 20px 0 0;
    width: 394px;
}

.inputDescricao__Cadastro{
    font-size: 13px;
    color: #696868;
    width: 430px;
    margin: 10px 0 20px;
}

#nomeDescricao__Cadastro{
    margin-bottom: 0;
    color: transparent;
}

.botaoGrupo__Cadastro{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin-top: 15px;
}

.retornarLogin{
    font-size: 18px;
    font-weight: 600;
    color: #31738d;
    text-decoration: none;
}


@media (max-height: 620px){
    /* --Media Cadastro-- */
    .secao__Cadastro{
        margin-top: 0;    
        background-color: white;
        padding: 15%;
        width: 90%;
    }

    .titulo__Cadastro{
        width: 90%;
    }
    
    .nomeGrupo__Cadastro, .senhaGrupo__Cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .input__Cadastro{
        padding: 15px 20px;
        font-size: 20px;
        margin: 0 0 3% 0;
        width: 100%;
    }
    
    #nomeUsuario__Cadastro{
        margin: 0;
        width: 100%;
    }

    #confirmarSenha__Cadastro{
        margin-bottom: 0;
    }
    
    .inputDescricao__Cadastro{
        font-size: 14px;
        width: 105%;
        margin: 10px 0;
    }
    
    .botaoGrupo__Cadastro{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 20%;
        align-items: center;
        margin-top: 25px;
    }
    
    .retornarLogin{
        margin-top: 1em;
    }
}

@media (max-width: 650px){
    .caixa__Cadastro{
        flex-direction: column;
        align-items: center;
        height: 800px;
        width: 100%;
    }

    .botaoGrupo__Cadastro{
        width: 394px;
    }
}


@media (max-width: 490px){
    /* -- Cadastro -- */
    .secao__Cadastro{
        background-image: linear-gradient(to bottom, #ffffff, #ffffff);
        background-repeat: no-repeat;
        width: 100%;
        height: 950px;
    }
    
    .caixa__Cadastro{
        flex-direction: column;
        align-items: center;
        height: 800px;
        width: 100%;
    }
    
    #erroMensagem__Cadastro{    
        margin: 0 0 30px;
        height: 20.5px;
    }
    
    .titulo__Cadastro{
        width: 90%;
        margin: 0;
    }
    
    .subtitulo__Cadastro{
        margin-bottom: 40px;
    }

    .nomeGrupo__Cadastro, .senhaGrupo__Cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 130px;
    }
    
    .input__Cadastro{
        padding: 15px 20px;
        font-size: 20px;
        border-radius: 5px;
        margin: 0 2.5px;
        width: 80%;
        box-sizing: border-box;
    }
    
    #nomeUsuario__Cadastro{
        margin: 20px 0 0;
        width: 80%;
    }
    
    .inputDescricao__Cadastro{
        font-size: 14px;
        width: 77%;
    }
    
    #nomeDescricao__Cadastro{
        margin-bottom: 0;
        color: transparent;
    }
    
    .botaoGrupo__Cadastro{
        justify-content: space-between;
        flex-direction: column-reverse;
        width: 80%;
        height: 80px;
        align-items: center;
        margin-top: 10px;
    }
    
    .retornarLogin{
        font-size: 18px;
        font-weight: 600;
        color: #31738d;
        text-decoration: none;
    }

}

@media (max-height: 430px){
    .secao__Cadastro{
        background-image: linear-gradient(to bottom, #ffffff, #fafafa);
        background-repeat: no-repeat;
        width: 915px;
        height: 820px;
        box-sizing: border-box;
    }
    
    .caixa__Cadastro{
        flex-direction: column;
        align-items: center;
        height: 800px;
        width: 90%;
    }
    
    #erroMensagem__Cadastro{    
        margin: 0 0 30px;
        height: 20.5px;
    }
    
    .titulo__Cadastro{
        width: 90%;
        margin: 0;
    }
    
    .subtitulo__Cadastro{
        margin: 20px 0;
    }

    .nomeGrupo__Cadastro, .senhaGrupo__Cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 130px;
    }
    
    .input__Cadastro{
        padding: 15px 20px;
        font-size: 20px;
        border-radius: 5px;
        margin: 0 2.5px;
        width: 80%;
        box-sizing: border-box;
    }
    
    #nomeUsuario__Cadastro{
        margin: 20px 0 0;
        width: 80%;
    }
    
    .inputDescricao__Cadastro{
        font-size: 14px;
        width: 77%;
    }
    
    #nomeDescricao__Cadastro{
        margin-bottom: 0;
        color: transparent;
    }
    
    .botaoGrupo__Cadastro{
        justify-content: space-between;
        flex-direction: column-reverse;
        width: 80%;
        height: 80px;
        align-items: center;
        margin-top: 10px;
    }
    
    .retornarLogin{
        font-size: 18px;
        font-weight: 600;
        color: #31738d;
        text-decoration: none;
    }

}


