/* --- ESQUECEU --- */

.esqueceuConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #fff;
    border-radius: 1rem;
    padding: 0;
    height: 60rem;
    width: 60rem;
}

.EsqueceuGrupo{
    height: 30rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
}

.titulo__Esqueceu{
    margin: 0.8rem 0;
    text-align: center;
    width: 90%;
}

.subtitulo__Esqueceu{
    margin: 1em 0;
    font-weight: 500;
    text-align: center;
    width: 90%;
}

.input__EsqueceuSenha{
    padding: 1.5rem 2rem;
    font-size: 2rem;
    border: 1px solid #afaeae;
    border-radius: 0.5rem;
    margin: 1.5rem 0;
    width: 47rem;
    box-sizing: border-box;
}

#erroMensagem__Esqueceu{
    color: red;
    font-size: 2rem;
    line-height: 1.1em;
    text-align: center  ;
    margin: 1.6rem 0;
    height: 2.05rem;
}

.botaoGroup__Esqueceu{
    margin: 0;
    width: 70%;
    height: 7.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 635px){
    .secao__Esqueceu{
        background-image: linear-gradient(to bottom, #fff, #fff);
        background-repeat: no-repeat;
    }

    .esqueceuConteudo{
        width: 92vw;
    }

    .EsqueceuGrupo{
        height: auto;
        margin-bottom: 2rem;
    }

    .input__EsqueceuSenha{
        margin: 1.5rem 0;
        width: 80%;
    }

    #erroMensagem__Esqueceu{
        width: 80%;
    }
}

@media (max-width: 430px){
    .input__EsqueceuSenha{
        margin: 1.5rem 0;
        width: 85%;
    }
}

@media (max-height: 430px){
    .secao__Esqueceu{
        background-image: linear-gradient(to bottom, #fff, #fff);
        background-repeat: no-repeat;
    }
}