/* --- ESQUECEU --- */

.esqueceuConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
    height: 600px;
    width: 600px;
}

.EsqueceuGrupo{
    height: 300px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
}

.titulo__Esqueceu{
    margin: 8px 0;
    text-align: center;
    width: 90%;
}

.subtitulo__Esqueceu{
    margin: 1em 0;
    font-weight: 500;
    text-align: center;
    width: 90%;
}

.input__EsqueceuSenha{
    padding: 15px 20px;
    font-size: 20px;
    border: 1px solid #afaeae;
    border-radius: 5px;
    margin: 0;
    width: 90%;
    box-sizing: border-box;
}

#erroMensagem__Esqueceu{
    color: red;
    margin: 3% 0;
    height: 20.5px;
}

.botaoGroup__Esqueceu{
    margin: 0;
    width: 70%;
    height: 75px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 600px){
    /* ---  ESQUECEU --- */
    .secao__Esqueceu{
        height: 100vh;
        width: 100vw;
        margin-top: 0;
        justify-content: center;
    }

    .esqueceuConteudo{
        height: 600px;
        width: 100%;
        justify-content: flex-start;
    }

    .EsqueceuGrupo{
        height: 420px;
        width: 90%;
        margin-bottom: 0;
    }

    .titulo__Esqueceu{
        font-size: 35px;
        margin: 40px 0 10px;
    }

    .subtitulo__Esqueceu{
        font-size: 18px;
        width: 90%;
        margin-bottom: 15%;
    }

    .input__EsqueceuSenha{
        width: 90%;
    }

    #erroMensagem__Esqueceu{
        font-size: 14px;
        margin: 6% 0 4% 0;
    }

}

@media (max-height: 420px){
    .secao__Esqueceu{
        height: 100vh;
        background-image: linear-gradient(to bottom, #ffffff, #ffffff);
        background-repeat: no-repeat;
    }

    .esqueceuConteudo{
        background-color: #fff;
        border-radius: 10px;
        padding: 0;
        height: 400px;
        width: 600px;
        box-sizing: border-box;
    }

    .EsqueceuGrupo{
        height: 255px;
    }

    .botaoGroup__Esqueceu{
        transform: scale(0.9);
    }

    .titulo__Esqueceu,
    .subtitulo__Esqueceu{
        margin: 0;
    }

    .titulo__Esqueceu{
        font-size: 37px;
    }

    .subtitulo__Esqueceu{
        margin: 10px 0 20px;
    }

    .input__EsqueceuSenha{
        border-radius: 10px;
    }

    #erroMensagem__Esqueceu{
        margin-bottom: 5px;
    }
}

@media (max-height: 325px){
    .esqueceuConteudo{
        background-color: #ffffff;
        height: 95%;
        width: 90%;
    }

    .EsqueceuGrupo{
        height: 222px;
    }

    .botaoGroup__Esqueceu{
        transform: scale(0.8);
    }

    .titulo__Esqueceu{
        font-size: 30px;
    }

    .subtitulo__Esqueceu{
        margin: 13px 0;
        font-size: 18px;
    }

    #erroMensagem__Esqueceu{
        font-size: 14px;
    }
}