body{
    height: 100%;
    background-color: #e66969;
}

.global{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.secao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to bottom, #405266, #664040);
    background-repeat: no-repeat;

    height: 100vh;
    width: 100vw;
    padding: 1vh;
    box-sizing: border-box;
}

/* -- GERAL -- */


.titulo, .subtitulo{
    font-weight: 600;
    font-size: 3.5rem;
    margin: 1em 0;
    padding: 0;
    line-height: 1.1em;
    text-align: center;
    font-family:sans-serif;
}

.subtitulo {
    font-size: 2.4rem;
}

.botao{
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.botao:hover{
    cursor: pointer;
}

.displayOFF{
    display: none;
}

@media(max-height: 769px){
    html{
        font-size: 58%;
    }
}

@media(max-height: 709px){
    html{
        font-size: 54%;
    }
}

@media(max-height: 665px){
    html{
        font-size: 50%;
    }
}

@media(max-height: 615px){
    html{
        font-size: 47%;
    }
}