/* --- PERFIL --- */

.caixa__Perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #fff;
    border-radius: 1rem;
    height: 70rem;
    width: 50rem;
}

.perfilGrupo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.descricao__Perfil{
    margin: 0 0 2rem;
    font-size: 2.5rem;
}

.titulo__Perfil{
    margin-top: 0;
}

.botaoPerfil{
    font-size: 1.8rem;
    padding: 1rem 3.5rem;
}

@media (max-width: 545px){
    .secao__Perfil{
        background-image: linear-gradient(to bottom, #fff, #fff);
        background-repeat: no-repeat;  
    }

    .caixa__Perfil{
        width: 90%;
    }
}

@media (max-height: 430px){
    html{
        font-size: 55%;
    }

    .secao__Perfil{
        background-image: linear-gradient(to bottom, #fff, #fff);
        background-repeat: no-repeat;
        height: 60rem;  
    }

    .caixa__Perfil{
        height: 35rem;
    }
}