/* --- RecuperarSenha --- */

.recuperarSenha__Conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
    height: 60rem;
    width: 60rem;
}

.grupo__RecuperarSenha{
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
}

.titulo__RecuperarSenha{
    margin: 6rem 0 4rem;
}

.subtitulo__RecuperarSenha{
    margin: 0 0 8%;
    font-weight: 500;
    text-align: center;
}

.input__RecuperarSenha{
    padding: 1.5rem 2rem;
    font-size: 2rem;
    border: 1px solid #afaeae;
    border-radius: 5px;
    margin: 1.2rem 0;
    width: 43rem;
    box-sizing: border-box;
}

#erroMensagem__RecuperarSenha{
    color: red;
    font-size: 2rem;
    margin: 1rem 0;
    height: 2.05rem;
}

.botaoGroup__RecuperarSenha{
    margin: 1rem 0;
    width: 70%;
    height: 8.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}